html,body{
    height: 100%;
}
.collapse > .btn-success{
    background-color: white;
}
.collapse > .btn-success:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}
.collapse > .btn-success:hover > a{
    text-decoration: none;
    color: white;
}

.collapse > .btn-success > a{
    text-decoration: none;
    color: black;
}
.cont{
    width: 80%;
    height: 65%;
    margin: 89px auto;
    border: 1px solid #00000038;
}
.cont > h2{
    height: 14%;
    padding-top: 16px;
    padding-left: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}
.cont > .ele1{
    height:74%;
    padding-top: 16px;
    padding-left: 16px;
}
.cont > .ele2{
    height: 9%;
    text-align: end;
    padding: 15px;
    color: #808080b8;
    font-size: 14px;
}
