#display{
    margin: 100px;
}
.collapse > .btn:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}
.collapse > .btn:hover > a{
    text-decoration: none;
    color: white;
}
.collapse > .btn{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
form > .btn{
    margin-top: 25px;
}

