html, body {

    margin: 0;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 73%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-container{
    height: 82%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-container > li{
    border-bottom: 1px solid gray;
    width: 80%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.sub-container > li > a{
    padding: 6%;
    transition: background-color .3s;
}
.sub-container > li > a:hover{
    color: white;
}
.sub-container > li:hover{
    background-color: rgb(192, 241, 253);
    
}
.container > a{
    width: 100%;
    text-align: center;
    color: #495057;
    
}
.container > a:hover {
    background-color: rgb(150, 230, 250);
    color:white;
}

.sub-container > li > div{
    font-size: 3px;
    color: #8080809c;
    display: flex;
    align-items: flex-end;
}
a{
    text-decoration: none;
    color: rgb(77, 76, 76);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-cont{
    width: 100%;
    padding: 6%;
    padding: 4%;
}

.detail-cont{
    width: 100%;
}

.detail1{
    height: 8%;
    margin-top: 13%;
    margin-bottom: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail1 > h2 {
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.479);
}
.detail2{
    height: 50%;
}
.detail2 > p{
    font-size: 20px;
    color:rgb(88, 88, 88);
}
.detail3{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.detail3 > p {
    font-size: 13px;
}
.nothome{
    color: #777777d0;
    font-size: 63px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #daf5fc69;
    background-clip: padding-box;
    border: 1px solid #000000a3;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

